[defaults]
inventory = inventories/lab.ini
host_key_checking = True
interpreter_python = auto
forks = 3
timeout = 20
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=yes
pipelining = True
